models/vosk-model-small-uk-v3-small.zip filter=lfs diff=lfs merge=lfs -text
models/vosk-model-small-uk-v3-small/graph/HCLr.fst filter=lfs diff=lfs merge=lfs -text
models/vosk-model-small-uk-v3-small/graph/Gr.fst filter=lfs diff=lfs merge=lfs -text
